:root {
  font: 14px / 1 sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

.header,
.footer {
  background-color: rgb(142, 220, 230, 0.6);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

.header {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.footer {
  border-top: 1px solid black;
  padding: 1rem;
}
.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin: auto;
}

#topPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  &:link,
  &:visited {
    color: black;
    text-decoration: none;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  border: 2px solid black;
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: 1px 1px black;
}

li {
  padding: 0.5rem;
  color: rgb(44, 44, 44);
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  .main {
    flex-grow: 1;
  }
}

.pets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  // margin: 0;
}

.name {
  font-size: 20px;
  text-align: center;
  margin-bottom: -5px;
  background-color: #fff9a5;
  border-bottom: 2px solid black;
}

.name:hover {
  font-size: 21px;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

.form {
  padding: 1rem;
  text-align: center;
}

button {
  padding: 0.5rem;
  margin: 2px;
  background-color: rgb(142, 220, 230, 0.7);
}
.topButton:hover {
  background-color: #3e8e41;
}

.bottomButton:hover {
  background-color: red;
}

.topButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.bottomButton:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.petPageSelection {
  background-color: rgb(255, 255, 255, 0.8);
  max-width: fit-content;
  margin-top: 100px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
  font-size: larger;
  box-shadow: 20px -10px #fff9a5, -20px -10px #fff9a5, 20px 10px #fff9a5,
    -20px 10px #fff9a5;
}

#petPage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  margin-left: 0.5rem;
  border: 1px, solid, black;
}

.bottomButtons {
  text-align: center;
}
